
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

.promo {
    height: 800px;
    background: url('../img/bg/main.jpg') center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}

h1 {
    margin-top: 53px;
    margin-bottom: 0;
}

h2 {
    margin-top: 30px;
}

.title {
   font-size: 41px;
   font-weight: 900;
   color: rgb(249, 191, 59);
   text-transform: uppercase;
   line-height: 24px;
   text-align: center;   
}

.simple .title_big {
    font-weight: 900;
    font-size: 80px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}

.promo .promo_text {
    font-size: 21px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin-top: 23px;
    padding: 0 13px;
} 

.promo .promo_text span {
    font-weight: 700;
    color: #f9bf3b;

}

.promo .promo_btn, .gift_button, .registration_btn  {
    display: block;
    width: 313px;
    height: 72px;
    background-image: linear-gradient(0.0deg, #2798b9 0%, #3ab6da 100%);
    border: 1px solid rgba(0,0,0,0.22);
    box-shadow: inset 0px 0px 0px 0px rgba(7, 6, 6, 0.17);
    margin: 0px auto;
    margin-top: 73px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.21);
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
}
.promo .promo_btn:hover, .gift_button:hover , .registration_btn:hover {
    background: #448f8f;
}

.registration_btn {
    margin-top: 26px;
}

.more {
    margin-top: 73px;
}

.more .more_text {
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;  
    padding: 85px 0 75px 0;
}

.waiting .waiting_head, .finish_head {
    font-size: 30px;
    line-height: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #252525;
    text-align: center;
}

.waiting .waiting_devider, .finish_devider {
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subhead {
    font-size: 23px;
    line-height: 20px;
    font-weight: 400;
    color: #4a4a4a;
    text-align: center;
    margin-top: 17px;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 342px;
    text-align: center;
    align-content: space-between;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
    color: #4a4a4a;
    margin-top: 33px;
}

.optimisation {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimisation .optimisation_header {
    margin-left: 391px;
    font-size: 29px;
    font-weight: 400;
    text-transform: uppercase;
    color: #299cbd;
}

.optimisation .optimisation_text {
    width: 750px;
    position: absolute;
    right: -7px;
    margin-top: 25px;
    font-size: 17px;
    font-weight: 300;
    color: #4a4a4a;
}

.optimisation .optimisation_text span {
    font-size: 17px;
    line-height: 27px;
    font-weight: 700;
    color: #4a4a4a;
}

.optimisation .optimisation_img {
    position: absolute;
    top: -84px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/bg/bg_centre.png') center center/cover no-repeat;
}

.finish .finish_head {
    color:  #fff;
}

.finish .finish_devider {
    margin-top: 23px;
}

.finish .finish-wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish-wrapper .finish-item {
    width: 204px;
} 

.finish .finish-wrapper .finish-item .finish-round {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: 115px;
    height: 115px;
    background-color: #b4e2ff;
    border-radius: 100%;
    padding: 30px 0 30px 0;
}

.finish .finish-wrapper .finish-item .finish-descr {
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    margin-top: 25px;
}

.gift {
    min-height: 628px;
    background-color: #efefef;
    padding: 86px 0 83px 0 ;
}

.gift .gift_descr {
    text-align: center;
    margin-top: 42px;
    font-size: 30px;
    font-weight: 400;
    color: #252525;
}
.gift_button {
    margin-top: 48px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.17);
}

.gift .gift_for {
    display: block;
    margin: 0 auto;
}

.first_webinar {
    padding: 89px 0 64px 0;
}

.first_webinar .webinar_img {
    display: block;
    margin: 0 auto;
}

.first_webinar .webinar_text {
    margin-top: 37px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #252525;
}

.first_webinar .webinar_date {
    margin-top: 30px;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    color: #299cbd;
}

.first_webinar .webinar_descr {
    margin-top: 25px;
    text-align: center;
    font-size: 23px;
    line-height: 20px;
    font-weight: 400;
    color: #4a4a4a;
}

.contact {
    padding: 61px 0 69px 0;
    min-height: 166px;
    background-color: #1a1a1a;
    text-align: center;
}

.contact .contact_secur {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    text-decoration: underline;
    color: #888888;
}

.contact .contact_confidential {
    font-size: 15px;
    font-weight: 300;
    text-decoration: underline;
    color: #888888;
}

.contact .contact_bar {
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    color: #888888;
}

.contact .contact_phone {
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
    text-decoration: none;
    color: #888888;
}

.contact .contact_link {
    text-decoration: none;
}

.policy  {
    padding: 30px 20px;
}
.policy .policy__container {
    max-width: 1140px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}
.policy .policy__container .title {
    color: #000;
    line-height: 46px;
}
.policy .policy__container .subtitle {
    margin: 15px 0 15px 0;
    font-size: 20px;
    line-height: 21px;
    font-weight: 700;
}

 /* modal window  */
.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.56);
    top: 0;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 400px;
    background: #F2F2F2;
    padding: 34px 39px 39px 39px;
    border-radius: 4px;
}
.overlay .modal .modal__close  {
    position: absolute;
    top: 0;
    right: -40px;
    font-size: 41px;
    line-height: 14px;
    color: #c70101;
    cursor: pointer;
}
.overlay .modal .modal__subtitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #0D0D0D;
}
.overlay .modal .modal__descr {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #0D0D0D;
    margin-top: 10px;
}
.overlay .modal_mini {
    min-height: 143px;
}
.feed-form {
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    width: 303px;
}
.feed-form input {
    height: 53px;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 14px;
    border: none;
    padding: 0 20px;
    font-weight: 400;
    font-size: 14px;
    color: #4B4B4B;
}
.feed-form input:nth-child(3) {
    margin-bottom: 19px;
}
.overlay .modal input.error{
    border: 1px solid red;
}
.overlay .modal label.error {
    border: none;
    text-align: center;
    margin-bottom: 15px;
}
#registration, #thanks {
    display: none;
}
.pageup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
}
.pageup img {
    width: 100%;
}

/* Media query */

@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .simple .title_big {
        font-size: 65px;
    }
    .waiting .waiting_wrapper .waiting_item {
        width: 300px;
    }
    .optimisation .optimisation_text {
        position: absolute;
        line-height: 18px;
        width: 658px;
        right: -30px;
        width: 658px;
        font-size: 16px;
        padding-right: 16px;
    }
    .optimisation .optimisation_text span {
        font-size: 16px;
        line-height: 21px;
    }
    .optimisation .optimisation_img {
        left: -191px;
        top: -84px;
    }

}

@media(max-width: 992px) {
    .container {
        max-width: 720px;
        
    }
    .title {
        font-size: 30px;
    }
    .simple .title_big {
        font-size: 50px;
    }
    .waiting {
        min-height: 450px;
        padding: 50px 0 45px 0;
    }
    .waiting .waiting_wrapper .waiting_item {
        width: 225px;
    }
    .optimisation {
        min-height: 460px;
        padding: 50px 0 45px 0;
    }
    .optimisation .optimisation_header {
        margin-left: 0;
    }
    .optimisation .optimisation_text {
        width: 100%;
        right: unset;
        line-height: 20px;
    }
    .optimisation .optimisation_img {
        display: none;
    }
    .finish {
        min-height: 447px;
        padding: 50px 0 55px 0;
    }
    .gift {
        min-height: 560px;
        padding: 50px 0 0px 0;
    }
    .gift .gift_descr {
        font-size: 20px;
        line-height: 27px;
    }
    .first_webinar {
        padding: 50px 0 45px 0;
    }
    .first_webinar .webinar_date {
        font-size: 32px;
    }

}
@media(max-width: 768px) {
    .container {
        max-width: 540px;
        
    }
    .title {
        font-size: 24px;
    }
    h1 {
        margin-top: 38px;
    }
    .simple .title_big {
        font-size: 35px;
    }
    .promo .promo_text {
        font-size: 18px;
    }
    .waiting .waiting_head, .finish_head {
        font-size: 24px;
    }
    .waiting .waiting_subhead {
        font-size: 20px;
    }
    .waiting .waiting_wrapper .waiting_item {
        width: 172px;
    }
    .waiting .waiting_wrapper .waiting_item .waiting_descr {
        font-size: 12px;
        line-height: 16px;
        margin-top: 20px;
    }
    .optimisation {
        padding: 20px 0 45px 0;
    }
    .optimisation .optimisation_header {
        font-size: 24px;
    }
    .optimisation .optimisation_text {
        line-height: 18px;
        font-size: 13px;
    }
    .optimisation .optimisation_text span {
        font-size: 14px;
        line-height: 21px;
    }
    .finish {
        min-height: 380px;
        padding: 30px 0 33px 0;
    }
    .finish .finish-wrapper .finish-item .finish-round {
        height: 100px;
        width: 100px;
    }
    .finish .finish-wrapper .finish-item .finish-descr {
        font-size: 13px;
    }
    .gift .gift_descr {
        font-size: 18px;
        line-height: 24px;
    }


}
@media(max-width: 576px) {
    .container {
        max-width: 100%;
        padding-right: 10px;
        padding-left: 10px;
        margin-right: auto;
        margin-left: auto;
        
    }
    .title {
        font-size: 24px;
    }
    .simple .title_big {
        font-size: 30px;
    }
    .promo .promo_text {
        font-size: 16px;
        line-height: 18px;
    }
    .promo .promo_btn, .gift_button {
        width: 300px;
    }
    .waiting {
        padding-top: 25px;
    }
    .waiting .waiting_head, .finish_head {
        font-size: 20px;
        line-height: 24px;
    }
    .waiting .waiting_subhead {
        font-size: 16px;
    }
    .waiting .waiting_wrapper {
        flex-direction: column;
        align-items: center;
    }
    .waiting .waiting_wrapper .waiting_item {
        width: 215px;
        margin-top: 15px;
    }
    .waiting .waiting_wrapper .waiting_item:first-child {
        margin-top: 0;
    }
    .waiting .waiting_wrapper .waiting_item .waiting_descr {
        font-size: 14px;
        line-height: 16px;
    }
    .optimisation {
        padding: 20px 10px 45px 10px;
    }
    .optimisation .optimisation_header {
        font-size: 20px;
    }
    .optimisation .optimisation_header {
        margin-top: 15px;
    }
    .optimisation .optimisation_text {
        line-height: 13px;
        font-size: 13px;
        right: 0;
        margin-top: 10px;
    }
    .optimisation .optimisation_text span {
        line-height: 13px;
    }
    .finish {
        padding: 20px 0 33px 0;
    }
    .finish .finish-wrapper {
        flex-direction: column;
        margin-top: 30px;
        align-items: center;
    }
    .finish .finish-wrapper .finish-item .finish-descr {
        font-size: 13px;
    }
    .finish .finish-wrapper .finish-item {
        margin-top: 10px;
    }
    .finish .finish-wrapper .finish-item:first-child {
        margin-top: 0px;
    }
    .gift .gift_descr {
        font-size: 16px;
        line-height: 24px;
    }
    .first_webinar .webinar_img {
        width: 300px;
    }
    .first_webinar .webinar_text {
        font-size: 26px;
    }
    .first_webinar .webinar_date {
        font-size: 24px;
    }
    .modal {
        width: 300px;
        padding: 34px 10px 30px 10px;
    }
    .overlay .modal .feed-form {
        width: 279px;
    }
    .overlay .modal .feed-form .registration_btn {
        width: 100%;
    }
    .overlay .modal .modal__close {
        top: 8px;
        right: 10px;
    }
    .policy .policy__container {
        font-size: 16px;
        line-height: 20px;
    }
    .policy .policy__container .title {
        font-size: 18px;
        line-height: 22px;
    }
    .policy .policy__container .subtitle {
       font-size: 16px;
       line-height: 18px;
    }
    .more {
        margin-top: 40px;
    }
    .pageup {
        right: 10px;
    }
    .promo .promo_btn:hover, .gift_button:hover, .registration_btn:hover {
        background-image: linear-gradient(0.0deg, #2798b9 0%, #3ab6da 100%);
    }

}